  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Movie Haus</title>

  <link rel="shortcut icon" href="http://localhost:3000/favicon.ico?v=3" />
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">